body{
    overflow-x: hidden;
    background-size: cover;
}
h2{
    color: white;
    margin: 60px 0px 0px 30px;
    border: 0px solid black;
    padding: 10px;
    width: 380px;
    height: 100px;
    text-align: justify;

}
p{
    color: white;
    font-style: italic;
    margin: 450px 0px 100px 1000px;
    border: 0px solid black;  
    padding: 5px;
    width: 350px;
    height: 100px;
    text-align: justify;
    font-size: 16px

}