.row {
    display: -ms-flexbox; 
    display: flex;
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap;
    margin: 0 -16px;
  }
  
  .col-50 {
    -ms-flex: 50%; 
    flex: 50%;
  }
  
  .col-75 {
    -ms-flex: 75%;
    flex: 75%;
  }
  
  .col-50,
  .col-75 {
    padding: 0 16px;
  }

  
  .container {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
  }
  
  input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  label {
    margin-bottom: 10px;
    display: block;
  }

  .btn {
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    margin: 30px 0;
    border: none;
    width: 25%;
    border-radius: 10px;
    font-size: 17px;
  }
  
  .btn:hover {
    background-color: #45a049;
  }
  
  .form{
    margin-top: 3.5%
  }

  body{
    overflow-x: hidden;
  }
  
  h1{
    margin: 3% 10% -1% 10%;
    border-bottom: 6px solid red;
    background-color: lightgrey;
  }
  
  header.navbar {
    height: 54px;
}
  